.full-post-container {
  justify-content: center;
  display: block;
}

.full-post-content {
  color: rgb(92, 71, 132);
}

li {
  margin-bottom: 1rem;
}

ul {
  padding: 1rem;
}

a {
  margin-left: 0.5rem;
}

img {
  height: 2rem;
  width: 2rem;
}
