.main_container {
  width: 955px;
  background-color: white;

  @media screen and (max-width: 1044px) {
    width: 768px;
  }
  @media screen and (max-width: 768px) {
    width: 90vw;
  }
  @media screen and (max-width: 512px) {
    width: 90vw;
  }
}
