$text-color: rgb(92, 71, 132);

@mixin size($h, $w) {
  height: $h;
  width: $w;
}

.post_container {
  display: flex;
  @include size(30vh, 100%);
  box-sizing: border-box;
  border-radius: 15px;
  transition: border 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    transform 0.15s ease-in-out;
  cursor: pointer;
  margin-bottom: 1rem;
  background-color: #f6f6ff;
  overflow: hidden;
  transform: translateY(0);
  transition: all transform 0.15s ease-in-out;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.086);

  &:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }

  @media (max-width: 768px) {
    height: 15rem;
    width: 100%;
  }

  @media (max-width: 512px) {
    height: 10rem;
    width: 100%;
  }
}

.post_image {
  width: 20rem;
  height: 100%;
  overflow: hidden;
  position: static;
  opacity: 70%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    width: 20%;
    object-fit: contain;
  }

  @media (max-width: 512) {
    width: 5rem;
    object-fit: contain;
  }
}

.post_info {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 40px;
  position: static;
  color: $text-color;
  width: 35rem;

  @media (max-width: 768px) {
    min-width: 70%;
    margin: 0 1rem;
    height: 90%;
  }
}

.post_title {
  font-weight: 700;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 28px;
  overflow: initial;
  text-overflow: unset;
  width: 100%;
  color: $text-color;
  border-bottom: 1.5px solid scale-color($color: $text-color, $lightness: 65%);

  @media (max-width: 768px) {
    font-size: 18px;
  }

  @media (max-width: 512) {
    margin: 0;
    line-height: 20px !important;
  }
}

.post_category {
  display: flex;
  margin-top: 10px;
  align-items: center;
  height: 10px;
  width: 10px;
  color: $text-color;
  border-radius: 30px;
}

.post_category p {
  margin-left: 20px;
  color: $text-color;
  font-weight: 300;
  margin-top: 0.6rem;
}

.post_description {
  margin: 0;
  font-family: Inter, system-ui, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  height: 60%;

  h2 {
    font-weight: 600;
    font-size: 21px;
    color: scale-color($color: $text-color, $lightness: 15%);
    @media (max-width: 768px) {
      font-size: 16px;
      margin: 0;
    }
    @media (max-width: 512px) {
      margin: 0;
    }
  }

  ul li {
    color: scale-color($color: $text-color, $lightness: 35%);
  }

  ul {
    height: 50px;
    @media (max-width: 768px) {
      padding-left: 1.5rem;
      overflow: hidden;
    }
  }
}

.post_description p {
  color: scale-color($color: $text-color, $lightness: 35%);
}
